body {
    padding:0;
    margin: 0;
    border-style: border-box;
    text-align: center;
}









/* Hover on instructions */
#instructions {
    display: none
}

#game-container, #game-lost, #game-won{
    display: none;
}

#game-container{
    width:100vw;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-screen {
    padding: 20px, 0px;
    align-content: center;
    overflow: hidden;
    position: relative;
    background: url("../assets/images/Background.png");
    background-position: center;
    background-size: cover;
}

#stats {
    display: none;
    justify-content: center;
    gap: 2%;
    margin: 0;
}